<div class="card text-center">
  <div class="card-body card-color">
    <h3 class="mt-2">Transformando sonhos em realidade</h3>
    <h5>Categoria: {{categoria.nome}}</h5>
  </div>
</div>
  
  <!-- card dos produtos  -->
<div class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4 " *ngFor='let item of categoria.produto'>
        <div class="card mb-4 shadow-sm card-altura-largura">
          <img class="card-img-top img" src={{item.imagem}} alt="Card image cap">
          <div class="card-body card-color">
            <h5 class="card-title text-center">{{item.nome}}</h5>
            <p class="card-text text-center"><small class="text-muted textFonte">
                {{item.usuario.nome_completo}}
              </small></p>
            <p class="card-text text-justify">{{item.descricao}}</p>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
          <div class="d-flex justify-content-around card-color align-items-center">
            <p class="card-text textPreco">R$ {{item.preco}}</p>
            <button type="button" class="btn btn-outline-primary text-center mb-3 " (click)='comprar()'>Comprar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/card dos produtos  -->