
  <div class="card text-center">
    <div class="card-body card-color">
      <br />
      <br />

      <h5 class="">Transformando sonhos em realidade</h5>
      <br />
      <h3>COLABORE</h3>
      <br />
      <!-- Exemplo de único botão danger -->
      <div class="btn-group  ">

        <div class="row d-flex justify-content-center mb-5 mt-5" >
          <div class="col-md-4">
            <div class="form-group">
              <input type="text" class="form-control" id="nomeProduto" placeholder="Digite o nome de um produto 
              para pesquisar" [(ngModel)]='nomeProduto' (keyup)='findByNomeProduto()'>
            </div>
          </div>
        </div>


  <!-- card dos produtos  -->
  <div class="py-5 bg-light" >
    <div class="container">
  
      <div class="row">
        <div class="col-md-4 " *ngFor='let item of listaProdutos'>
          <div class="card mb-4 shadow-sm card-altura-largura">
            <img class="card-img-top img" src={{item.imagem}} alt="Card image cap">
            <div class="card-body card-color">
              <h5 class="card-title text-center">{{item.nome}}</h5>
              <p class="card-text text-center"><small class="text-muted textFonte">
                {{item.usuario.nome_completo}}
               </small></p>
              <p class="card-text text-justify">{{item.descricao}}</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
            <div class="d-flex justify-content-around card-color align-items-center">
              <p class="card-text textPreco">R$ {{item.preco}}</p>
              <button type="button" class="btn btn-outline-primary text-center mb-3 ">Comprar</button>
            </div>
          </div>
        </div>

