<div class="row justify-content-center">
  <article class="card card-largura p-0 m-4 col-12 col-md-4" *ngFor='let item of listaProdutos'>
    <img src={{item.imagem}} class="card-img-top" alt="Foto cardapio brigadeiro">
    <div class="card-body">
      <h5 class="card-title">{{item.nome}}</h5>
      <p class="card-text">{{item.descricao}}</p>
      <p class="card-text">R$ {{item.preco}}</p>
      <button type="submit" class="btn color-principal text-white">Comprar</button>
    </div>
  </article>
</div>

<section class="container bg-light" id="receitas">
<div class="row justify-content-center">
  <div class="card card-largura p-0 m-4 col-12 col-md-4">
    <div class="card" style="width: 18rem;" *ngFor='let item of listaProdutos'>
      <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">{{item.nome}}</h5>
        <p class="card-text">{{item.descricao}}</p>
        <p class="card-text">R$ {{item.preco}}</p>
        <button type="submit" class="btn color-principal text-white">Comprar</button>
      </div>
    </div>
  </div>
</div>
</section>
