<div class = "container bg-navbar">

    <div class = "col-md-12">
        <h1 class="d-flex text-align-center text-white">
           <p href="#">Pagamento</p></h1>
            <h3 class="d-flex text-align-center text-white"><p href="#">Escolha o metodo de Pagamento </p></h3>
    </div>

    <div class="row bg-navbar2 ">
        <div class="col-md-6 font-texto">

            <h4><p href="#">Informações do pagamento</p></h4> 

            <form>
                <div class="form-row">
                    <div class="form-group col-md-12 font-texto">
                        <label for="inputAddress2"><p href="#">Nome Completo</p> </label>
                        <input type="text" class="form-control" id="nome" placeholder="Nome Completo">
                      </div>

                                   
                     <div class="form-group col-md-10 font-texto">
                        <label for="inputAddress2"><p href="#">Endereço</p></label>
                        <input type="text" class="form-control" id="inputAddress2" placeholder="Rua, Av, etc.">
                  </div>
                  <div class="form-group col-md-2 font-texto">
                    <label for="inputPassword4"><p href="#">Numero</p></label>
                    <input type="text" class="form-control" id="Numero" placeholder="Nº">
                  </div>
                </div>
                
                <div class="form-group font-texto">
                  <label for="inputAddress2"><p href="#">Complemento</p></label>
                  <input type="text" class="form-control" id="inputAddress2" placeholder="Apartamento, hotel, casa, etc.">
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6 font-texto">
                    <label for="inputCity"><p href="#">Cidade</p></label>
                    <input type="text" class="form-control" id="inputCity">
                  </div>
                  <div class="form-group col-md-4 font-texto">
                    <label for="inputEstado"><p href="#">Estado</p></label>
                    <select id="inputEstado" class="form-control">
                      <option selected><p href="#">Escolher...</p></option>
                      <option>...</option>
                    </select>
                  </div>
                  <div class="form-group col-md-2 font-texto">
                    <label for="inputCEP"><p href="#">CEP</p></label>
                    <input type="text" class="form-control" id="inputCEP">
                  </div>
                </div>
                <div class="form-group">
                 
                </div>
                <button type="submit" class="btn btn-primary text-white">Realizar Pagamento</button>
              </form>
             
              

        </div>




        <div class="col-md-6">

            <div class="row d-flex justify-content-center font-texto">
                <div class="col-md-10">
        
                      <h4><p href="#">Informações do Cartão de Crédito</p></h4> 
                    
                    
                          
                        <div class="form-row">
                          <div class="form-group col-md-12 font-texto">
                              <label for="inputAddress2"><p href="#">Nome Escrito no cartão</p> </label>
                              <input type="text" class="form-control" id="nome" placeholder="Nome Completo">
                            </div>

                            <div class="form-group col-md-10 font-texto">
                                <label for="inputAddress2"><p href="#">Numero do cartão de crédito</p></label>
                                <input type="text" class="form-control" id="inputAddress2" placeholder="Rua, Av, etc.">
                          </div>
                          <div class="form-group col-md-2 font-texto">
                            <label for="inputPassword4"><p href="#">Bandeira</p></label>
                            <input type="text" class="form-control" id="Numero" placeholder="Nº">
                          </div>
                        </div>
                        
                        <div class="form-group font-texto">
                          <label for="inputAddress2"><p href="#">Nome escrito no cartão</p></label>
                          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartamento, hotel, casa, etc.">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4 font-texto">
                              <label for="inputCity"><p href="#">CVV</p></label>
                              <input type="text" class="form-control" id="inputCity">
                            </div>
                            <div class="form-group col-md-4 font-texto">
                              <label for="inputEstado"><p href="#">Data De Expiração</p></label>
                              <select id="inputEstado" class="form-control text-white">
                                <option selected><p href="#">Escolher...</p></option>
                                <option>...</option>
                              </select>
                            </div>
                            <div class="form-group col-md-4 font-texto">
                                <label for="inputEstado font-texto"><p href="#">Nº parcelas</p></label>
                                <select id="inputEstado" class="form-control">
                                  <option selected><p href="#">Escolher...</p></option>
                                  <option>...</option>
                                </select>
                              </div>
                            
                          <div class="form-group">

        </div>

    </div>

</div>