<nav class="navbar navbar-expand-lg navbar-dark bg-navbar">
  <a class="navbar-brand" href="#"
    ><img
      src="../../assets/img/Logo_LinkeDreams (1).png"
      alt="Imagem Usuário"
      width="140px"
      class="img-fluid"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#conteudoNavbarSuportado"
    aria-controls="conteudoNavbarSuportado"
    aria-expanded="false"
    aria-label="Alterna navegação"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link px-3" href="#">Quem Somos</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link px-3" routerLink='/faca-parte' >Faça Parte</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link px-3" >Contato</a>
      </li>
    </ul>
  </div>
  <div>
    <a class="m-0 text-white fs-18 px-3" data-toggle="modal" data-target="#modal-login"><i class="fa fa-user"aria-hidden="true"></i>  Login</a>
  </div>
</nav>

<!-- modal entrar -->
<div
  class="modal fade"
  id="modal-login"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content justify-content-center">
      <div class="modal-header justify-content-center">
        <p class="text-center" id="exampleModalLabel">Login</p>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Fechar"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="usuario">E-mail:</label>
            <input  [(ngModel)]="userLogin.email"  class="form-control" type="text" name="email" id="email" placeholder="Digite o seu E-mail">
        </div>

        <div class="form-group">
            <label for="senha">Senha:</label>
            <input [(ngModel)]="userLogin.senha" class="form-control" type="password" name="senha" id="senha" placeholder="Digite a sua senha">
        </div>


          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-primary" (click)='entrar()' data-dismiss="modal">Entrar</button>
          </div>
        </form>
      </div>

      <div class="modal-footer justify-content-center">
        <p class="text-center">Não tem uma conta? <a routerLink='/faca-parte'>Cadastre-se</a></p>
      </div>
    </div>
  </div>
</div>


