<nav class="navbar navbar-expand-lg navbar-dark bg-navbar">
  <a class="navbar-brand" href="#"
    ><img
      src="../../assets/img/Logo_LinkeDreams (1).png"
      alt="Imagem Usuário"
      width="140px"
      class="img-fluid"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#conteudoNavbarSuportado"
    aria-controls="conteudoNavbarSuportado"
    aria-expanded="false"
    aria-label="Alterna navegação"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link px-3" href="#">Nome do Usuário</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link px-3" href="#">Quem somos</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link px-3" href="#">Sou uma ONG</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link px-3" href="#">Contato</a>
      </li>
    </ul>
    
    <!-- <div class="d-flex justify-content-end">
      <a class="m-0 fornt-weight-bold text-white fs-16 px-3"
        ><i class="fa fa-user" aria-hidden="true"></i
      ></a>
    </div> -->
  </div>
  <ul class="navbar-nav ml-auto mb-2 mb-lg-0 d-flex align-items-center">
      <li class="nav-item pl-3">
        <a class="m-0 font-weight-bold text-white fonte-redes-sociais"
          ><i class="fa fa-facebook-official" aria-hidden="true"></i
        ></a>
      </li>

      <li class="nav-item pl-3">
        <a class="m-0 font-weight-bold text-white fonte-redes-sociais"
          ><i class="fa fa-instagram" aria-hidden="true"></i
        ></a>
      </li>

      <li class="nav-item pl-3 mr-5">
        <a class="m-0 font-weight-bold text-white fonte-redes-sociais"
          ><i class="fa fa-twitter-square" aria-hidden="true"></i
        ></a>
      </li>

      <li class="nav-item pl-3 ml-5">
        <a
          class="m-0 text-white fs-18 px-3"
          data-toggle="modal"
          data-target="#exampleModal"
          ><i class="fa fa-user" aria-hidden="true"></i
        ></a>
      </li>
    </ul>

</nav>
