<div class="container-fluid">
    <div class = "container bg-navbar font-texto">
        <div class = "col-md-12">
            <h1 class="d-flex text-align-center text-white">
               <p href="#">Carrinho de compras</p></h1>
                <h3 class="d-flex text-align-center text-white"><p href="#">Confirme os itens </p></h3>
        </div>



    <div class="row bg-navbar2  d-flex align-items-center font-texto">
        <div>

            <div class="form-row">
                <div class="form-group col-md-12 font-texto">
                    <div class="form-group col-md-3">
                        <h3 class="panel-title">Evento</h3>
                        <label for="inputEstado">Quantidade</label>
                        <select id="inputEstado" class="form-control">
                            <option>++</option>
                          <option selected>6</option>
                          <option selected>5</option>
                          <option selected>4</option>
                          <option selected>3</option>
                          <option selected>2</option>
                          <option selected>1</option>

                        </select>
                      </div>
                      <div class="form-group col-md-3">
                        <h3 class="panel-title">Doação</h3>
                        <label for="inputEstado">Quantidade</label>
                        <select id="inputEstado" class="form-control">
                            <option>++</option>
                            <option selected>6</option>
                            <option selected>5</option>
                            <option selected>4</option>
                            <option selected>3</option>
                            <option selected>2</option>
                            <option selected>1</option>
                        </select>
                      </div>
                      <div class="form-group col-md-3">
                        <h3 class="panel-title">Produto</h3>
                        <label for="inputEstado">Quantidade</label>
                        <select id="inputEstado" class="form-control">
                            <option>++</option>
                            <option selected>6</option>
                            <option selected>5</option>
                            <option selected>4</option>
                            <option selected>3</option>
                            <option selected>2</option>
                            <option selected>1</option>
                        </select>
                      </div>

            <div class="row d-flex justify-content-center mt-3 mb-5">


                <div class="col-md-6">


                </div>
            </div>

        </div>


        <div class="col-md-6 d-flex justify-content-right">
            <div class="panel panel-primary">
                <div id="divTotal" class="panel-heading">
                    <h3 class="panel-title">Total</h3>
                </div>
                <div class="panel-body">
                    <h3>R$ 100</h3>
                </div>
            </div>

        </div>

        <div class="modal-footer col-md-12">
            <button class="btn btn-primary mr-2" data-toggle="modal" data-target="#pagamento">Confirmar </button>

                  </div>

        <div col-md-12>
            <button class="btn btn-primary mr-2" data-toggle="modal" data-target="#inicio">Voltar </button>

        </div>


    </div>


</div>

<div class="col-md-6 d-flex justify-content-center">
            <img src="https://i.imgur.com/Kf8E6UN.png" alt="" width="500px" height="500px">
        </div>
    </div>
