<div class="container-fluid">
    <!-- Banner - Quem Somos -->
    <div class="row">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100 carrousel-size " src="https://i.imgur.com/dhH3mv8.jpg"
                    class="d-block w-100 imagem-estatica" alt=" ">
                <div class="carousel-caption d-none d-md-block h-50">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row d-flex justify-content-center background-texto-Plataforma">

    <h5 class="font-subtitulo align-items-center mb-4 mt-5 ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae eligendi, repudiandae error nobis obcaecati adipisci consequatur magnam ab earum aut odit esse quidem dolores, hic, laborum impedit est pariatur odio!</h5>

</div>

<div class="row background-texto-Plataforma d-flex align-items-center">
    <div class="d-flex justify-content-center mt-5 mb-5">
        <img src="https://i.imgur.com/g6Oianw.png" alt="Foto ideia inicial" width="200px" height="100px">
    </div>




</div>