<body class="background">
  <div class="container-fluid">
    <!-- Banner - Quem Somos -->
    <div class="row">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://i.imgur.com/lN1gQSE.jpg" class="d-block w-100 imagem-estatica"
            alt="Imagem-mãos-pedindo-ajuda">
        </div>
      </div>
    </div>
  </div>

  <div class="bg-light">
    <div class="container d-flex">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
          <h5 class="font-subtitulo  mb-4 mt-5">
            O LinkeDreams tem o objetivo de mobilizar pessoas para contribuir com
            doações, compra de produtos, participação de eventos e ajuda financeira de projetos que as ONG's não
            conseguem colocar em prática.
          </h5>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="mt-4 mb-4">
              <img class="thumbnail" src="https://i.imgur.com/7rQag0M.png" alt="Foto ideia inicial" width="300" height="300">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- a plataforma -->
  <div class="container fonte-titulo">
    <h2 class="fonte-titulo cor-texto mb-4 mt-4">QUEM SOMOS</h2>
    <p class="texto-pagina">
      O LinkeDreams é a empresa criada por cinco alunos do Bootcamp da Generation Brasil que forma Desenvolvedores Full Stack Java Jr. A partir daí criamos a plataforma LinkeDreams, um e-commerce especializado no atendimento de ONGs
      que possibilita transações entre as partes envolvidas no funcionamento dessas organizações.
    </p>
    <p class="texto-pagina">
      Nosso grupo possui raízes diversificadas, viemos de diferentes locais do Brasil, temos diferentes crenças e
      estilos musicais. Essa diversidade foi fundamental para criação da imagem do projeto como é hoje, a convivência
      respeitosa e também desafiadora fez com que todos evoluíssemos todo dia, além de manter presente a vontade de
      continuar aprendendo e melhorando.
    </p>

    <h5 class="text-ojetivo mb-2 mt-4">OBJETIVO</h5>
    <p class="texto-pagina">
      O LinkeDreams foi criado com objetivo de integrar todo conhecimento que obtivemos no período de estudos do
      Bootcamp Generation. Ao longo dos meses, nos aprofundamos em ferramentas fundamentais para criação de uma
      plataforma online, passando desde a lógica de programação, banco de dados, além do Back e Front End.
    </p>
    <p class="texto-pagina">
      O grupo escolheu pela implementação de um e-commerce, inspirado em um dos objetivos de desenvolvimento
      sustentável da ONU, que fala a respeito da redução das desigualdades sociais. Acreditamos que as organizações
      não
      governamentais são uma ferramenta eficiente para atingir esse objetivo através de ações efetivas que podem ser
      tomadas por grande parte da população, colaborando com recursos diversos além dos financeiros. Por acreditarmos
      no papel das ONGs na formação de diversos cidadãos, criamos essa rede facilitadora para obtenção de recursos
      estruturais.
    </p>

    <p class="texto-pagina">
      Todos os estudantes do Bootcamp Generation foram beneficiados pela ação de ONGs, essa plataforma tem objetivo
      de retribuir os ensinamentos obtidos com nosso serviço prestado.
    </p>
  </div>

  <!-- NOSSO TIME -->
  <!-- Team -->
  <div class="team-grid">
    <div class="container-fluid mb-5">
      <div class="intro">
        <h2 class="text-center fonte-titulo cor-texto mt-5">NOSSO TIME</h2>
      </div>
      <div class="row people d-flex justify-content-center">
        <div class="col-md-2 item">
          <div class="box" style="background-image:url(https://i.imgur.com/QCiuByJ.jpg)">
            <div class="cover">
              <h3 class="name">Diego Vinicio</h3>
              <p class="title">Desenvolvedor Web</p>
              <div class="social">
                <a href="https://www.linkedin.com/in/diego-vinicio-79463096/" target="_blank"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/DiegoVinicio103" target="_blank"><i class="fa fa-github"></i></a></div>
            </div>
          </div>
        </div>
        <div class="col-md-2 item">
          <div class="box" style="background-image:url(https://i.imgur.com/6Pz3Wtj.jpg)">
            <div class="cover">
              <h3 class="name">Francisco José</h3>
              <p class="title">Desenvolvedor Web</p>
              <div class="social">
                <a href="https://www.linkedin.com/in/franciscojpires/" target="_blank"><i
                    class="fa fa-linkedin"></i></a>
                <a href="https://github.com/FranciscojosePires" target="_blank"><i class="fa fa-github"></i></a></div>
            </div>
          </div>
        </div>
        <div class="col-md-2 item">
          <div class="box" style="background-image:url(https://i.imgur.com/FEPZvED.png)">
            <div class="cover">
              <h3 class="name">Gilson Amorim</h3>
              <p class="title">Desenvolvedor Web</p>
              <div class="social">
                <a href="https://www.linkedin.com/in/gilsondmatos/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://github.com/gilsondmatos" target="_blank"><i class="fa fa-github"></i></a></div>
            </div>
          </div>
        </div>
        <div class="col-md-2 item">
          <div class="box" style="background-image:url(https://i.imgur.com/7f0rgJ3.jpg)">
            <div class="cover">
              <h3 class="name">Kélven Brandão</h3>
              <p class="title">Desenvolvedor Web</p>
              <div class="social">
                <a href="https://www.linkedin.com/in/kelvenbrandao/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://github.com/Kelven14" target="_blank"><i class="fa fa-github"></i></a></div>
            </div>
          </div>
        </div>
        <div class="col-md-2 item">
          <div class="box" style="background-image:url(https://i.imgur.com/IDcXz4Y.jpg)">
            <div class="cover">
              <h3 class="name">Lucas Gonçalves</h3>
              <p class="title">Desenvolvedor Web</p>
              <div class="social">
                <a href="https://www.linkedin.com/in/sg-lucassilva/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://github.com/erufluk" target="_blank"><i class="fa fa-github"></i></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-light">
    <section id="contato">
      <div class="container-fluid p-12 px-2 pb-5 flex-wrap">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-6 ">
            <div class="mr-3">
              <h3 class="text-yellow-custom mb-6 mt-5">Quero ficar por dentro de tudo</h3>
              <p class="text-lg">Tá fácil! Abaixo você encontra todas as nossas redes sociais. Além disso, com seu
                e-mail cadastrado no site você já recebe as notícias periodicamente!</p>

              <div class="d-flex flex-row">
                <a target="_blank" href="https://www.facebook.com" class="mr-3 mt-2">
                  <img src="../../assets/img/facebook.svg" alt="" width="70px">
                </a>

                <a target="_blank" href="https://www.linkedin.com" class="mr-3 mt-2">
                  <img src="../../assets/img/linkedin.svg" alt="" width="70px">
                </a>

                <a target="_blank" href="https://www.instagram.com" class="mr-3 mt-2">
                  <img src="../../assets/img/instagram.svg" alt="" width="70px">
                </a>
              </div>
            </div>
          </div>
          <div class="row justify-content-start">
            <div class="col-md-6">
              <img src="../../assets/img/05.svg" alt="iamgem contato" class="mb-5 mt-5 thumbnail" width="300px">
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>
