<div class="container-fluid">
  <!-- Banner - Quem Somos -->
  <div class="row">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://i.imgur.com/dhH3mv8.jpg" class="d-block w-100 imagem-estatica"
          alt="Imagem-mãos-pedindo-ajuda">
      </div>
    </div>
  </div>
  
  <div
    class="row d-flex justify-content-center background-texto-Plataforma text-center"
  ><div class="container">
    <h5 class="font-subtitulo align-items-center mb-4 mt-5">
      O LinkeDreams tem o objetivo de mobilizar pessoas para contribuir com
      doações, compra de produtos, participação de eventos e ajudar financeira
      de projetos que as ONG's nao conseguem colocar em pratica.
    </h5>
</div>

    <div class="row background-texto-Plataforma d-flex align-items-center">
      <div class="d-flex-content-center mt-5 mb-5">
        <img
          src="https://i.imgur.com/g6Oianw.png"
          alt="Foto ideia inicial"
          width="200px"
          height="150px"
        />
        <p class="mt-3">NOSSA PLATAFORMA É GRATUITA</p>
      </div>
    </div>
  </div>
<!-- a plataforma -->

<div class="container fonte-titulo">
   <h2 class="fonte-titulo cor-texto">A PLATAFORMA</h2>
<h4 class="">Nossa plataforma conecta de forma Gratuita pessoas as ONG's para que possam contribuir com doações, evntos e ajudarem diversas campanhas de arrecadação para que as ONG's possamtirar seus sonhos do papel.</h4>



<div class="d-flex justify-content-end card-columns centro ">
  <div class="">
    

      <p class="  ">Este é um card mais longo com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior.</p>
    
  </div>
</div>
</div>
</div>

<!-- NOSSO TIME -->

<!-- Team -->
<div class="team-grid">
  <div class="container-fluid">
    <div class="intro">
      <h2 class="text-center">Nosso Time</h2>
    </div>
    <div class="row people d-flex justify-content-center">
      <div class="col-md-2 item">
        <div class="box" style="background-image:url(../../assets/img/Diego.jpg)">
          <div class="cover">
            <h3 class="name">Diego Vinicio</h3>
            <p class="title">Desenvolvedor web</p>
            <div
            class="social">
            <a href="https://www.linkedin.com/in/diego-vinicio-79463096/"target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="https://github.com/DiegoVinicio103"target="_blank"><i class="fa fa-github"></i></a></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 item">
        <div class="box" style="background-image:url(../../assets/img/Francisco.jpg)">
          <div class="cover">
            <h3 class="name">Francisco José</h3>
            <p class="title">Desenvolvedor web</p>
            <div class="social">
              <a href="https://www.linkedin.com/in/franciscojpires/"target="_blank"><i class="fa fa-linkedin"></i></a>
              <a href="https://github.com/FranciscojosePires"target="_blank"><i class="fa fa-github"></i></a></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 item">
        <div class="box" style="background-image:url(../../assets/img/Gilson.PNG)">
          <div class="cover">
            <h3 class="name">Gilson Amorim</h3>
            <p class="title">Desenvolvedor web</p>
            <div class="social">
              <a href="https://www.linkedin.com/in/gilsondmatos/"target="_blank"><i class="fa fa-linkedin"></i></a>
              <a href="https://github.com/gilsondmatos"target="_blank"><i class="fa fa-github"></i></a></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 item">
        <div class="box" style="background-image:url(../../assets/img/Kelven.jpg)">
          <div class="cover">
            <h3 class="name">Kélven Brandão</h3>
            <p class="title">Desenvolvedor web</p>
            <div class="social">
              <a href="https://www.linkedin.com/in/kelvenbrandao/"target="_blank"><i class="fa fa-linkedin"></i></a>
              <a href="https://github.com/Kelven14"target="_blank"><i class="fa fa-github"></i></a></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 item">
        <div class="box" style="background-image:url(../../assets/img/Lucas.jpg)">
          <div class="cover">
            <h3 class="name">Lucas Gonçalves</h3>
            <p class="title">Desenvolvedor web</p>
            <div class="social">
              <a href="https://www.linkedin.com/in/sg-lucassilva/"target="_blank"><i class="fa fa-linkedin"></i></a>
              <a href="https://github.com/erufluk"target="_blank"><i class="fa fa-github"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


