<div class="container-fluid">
  <!-- Inicio - Carrosel -->
  <div class="row">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://i.imgur.com/oQB1iR1.jpg" class="d-block w-100 imagem-estatica"
          alt="Imagem-mãos-pedindo-ajuda">
        <div class="carousel-caption d-none d-md-block h-50">
        </div>
      </div>
    </div>
  </div>
  <!-- Texto e Imagem Chamativo -->
  <div class="row background-texto-Plataforma d-flex align-items-center">
    <div class="col-md-6 d-flex justify-content-center mt-5 mb-5">
      <img src="https://i.imgur.com/1APb9eM.png" alt="Foto ideia inicial" width="800px" height="400px">
    </div>

    <div class="col-md-6">
      <div class="row d-flex justify-content-center background-texto-Plataforma">
        <div class="col-md-6">
          <h1 class="display-5 cor-texto">PLATAFORMA</h1>
          <h5 class="font-subtitulo align-items-center mb-4">Tanto ONGs quanto apoiadores conseguem utilizar nosso serviço gratuitamente!</h5>
          <button type="button" data-toggle= "modal"
          data-target="#modal-cadastro" class="btn btn-cor-botao mb-4 mt-4 style-botao">CADASTRE-SE</button>
        </div>
      </div>
    </div>
  </div>
  <!-- FIM - Texto e Imagem Chamativo -->

  <!-- Cards com produtos -->
  <div class="row cor-background-depoimentos mb-4" id="depoimentos">

    <div class="row container-fluid d-flex justify-content-center">
      <article class="card card-largura p-0 m-4 col-12 col-md-4 shadow">
        <div class="card-body cor-card">
          <h5 class="text-center">A importância do compartilhamento</h5>
          <p class="card-text">
            Na sociedade atual estamos enfrentando diversos problemas por falta de recursos, sendo assim vem tomando força a iniciativa do compartilhamento. Se pensarmos em utensílios como uma furadeira, que é utilizada vez ou outra, não há necessidade de todo indivíduo ter uma. Pensando assim, quanto maior a rede de compartilhamento, melhor será para todos inseridos nela.
        </p>
        </div>
      </article>

      <!--CARD 2  -->
      <article class="card card-largura p-0 m-4 col-12 col-md-4 shadow">
        <div class="card-body cor-card">
          <h5 class="text-center"> O papel das ONGs</h5>
          <p class="card-text">
            As organizações não governamentais, cumprem uma lacuna deixada pelos órgãos públicos no bem estar da população. Seja oferecendo recursos básicos, lazer ou aprendizado, as ONGs têm um papel determinante na vida de diversas pessoas, principalmente aquelas de menor renda, já que muitas vezes não tem condições de pagar por serviços deveriam ser oferecidos a todos.
          </p>
        </div>
      </article>
    </div>
    </div>

     <!-- Depoimentos -->
  <div class="container">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100 carrousel-size" src="../../assets/img/fundo-test.png" alt="Primeiro Slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 carrousel-size" src=".../800x400?auto=yes&bg=666&fg=444&text=Segundo Slide"
          alt="Segundo Slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 carrousel-size" src=".../800x400?auto=yes&bg=555&fg=333&text=Terceiro Slide"
          alt="Terceiro Slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Próximo</span>
    </a>
  </div>
</div>

    <section class="col-md-12">
      <h2 class="text-center fonte-titulo texto-cor-especial">Parceiros</h2>
    </section>

    <section class="parceiros-ong d-flex align-items-center justify-content-between">
      <div class="container">
        <ul class="parceiros-list d-flex align-items-center justify-content-around nav-item">

          <li class="nav-item">
            <a class="parceiros-list-link-evergreen" href="#">
              <img src="https://i.imgur.com/hVnPKgu.png" widht="150px" height="150px" alt="Logo evergreen">
            </a>
          </li>

          <li class="nav-item">
            <a class="parceiros-list-link-sol" href="#">
              <img src="https://i.imgur.com/unAvIMG.png" widht="80px" height="80px" alt="Logo sol">
            </a>
          </li>

          <li class="nav-item">
            <a class="parceiros-list-link-farms" href="#">
              <img src="https://i.imgur.com/8FkGMzP.png" widht="100px" height="100px" alt=" Logo Farms">
            </a>
          </li>
        </ul>

        <!-- modal Cadastro -->

<div
class="modal fade"
id="modal-cadastro"
tabindex="-1"
role="dialog"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog" role="document">
  <div class="modal-content justify-content-center">
    <div class="modal-header justify-content-center">
      <p class="text-center" id="exampleModalLabel">Cadastro</p>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Fechar"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <form>
        <div class="form-group">
          <label for="nome">Nome:</label>
          <input [(ngModel)]="user.nome_completo" class="form-control" type="text" name="nome" id="nome" placeholder="Digite o seu nome" >
      </div>

      <div class="form-group">
          <label for="usuario">E-mail:</label>
          <input [(ngModel)]="user.email" class="form-control" type="text" name="email" id="email"
              placeholder="Digite o seu E-mail">
      </div>

      <div class="form-group">
          <label for="senha">Senha:</label>
          <input (input)='confirmSenha($event)' class="form-control" type="password" name="senha" id="senha"
              placeholder="Digite a sua senha">
      </div>

      <div class="form-group">
          <label for="confirmSenha">Confirmar Senha:</label>
          <input  [(ngModel)]="user.senha" class="form-control" type="password" name="confirmSenha" id="confirmSenha"
              placeholder="Confirme a sua senha">
      </div>

      <div class="form-group">
          <label for="tipo">Tipo de Usuário:</label>
          <select class="form-control" name="tipo" id="tipo" (change)=' tipoUser($event)'>
              <option>Selecione um tipo de usuário:</option>
              <option value="ONG">ONG</option>
              <option value="Apoiador">Apoiador</option>
          </select>
      </div>

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-danger  mr-4" data-dismiss="modal"> Cancelar</button>
            <button type="submit" class="btn btn-success " (click)='cadastrar()' data-dismiss="modal">Cadastrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

