<div class="container-fluid">
  <!-- Inicio - Carrosel -->
  <div class="row">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://i.imgur.com/oQB1iR1.jpg" class="d-block w-100 imagem-estatica"
          alt="Imagem-mãos-pedindo-ajuda">
        <div class="carousel-caption d-none d-md-block h-50">
          <h1 class="fonte-titulo display-3">Faça parte da LinkeDreams!</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- Texto e Imagem Chamativo -->
  <div class="row background-texto-Plataforma d-flex align-items-center">
    <div class="col-md-6 d-flex justify-content-center mt-5 mb-5">
      <img src="https://i.imgur.com/1APb9eM.png" alt="Foto ideia inicial" width="800px" height="400px">
    </div>

    <div class="col-md-6">
      <div class="row d-flex justify-content-center background-texto-Plataforma">
        <div class="col-md-6">
          <h1 class="display-5 cor-texto">PLATAFORMA GRATUITA</h1>
          <h5 class="font-subtitulo align-items-center mb-4">Tanto ONGs quanto apoiadores conseguem utilizar nosso serviço gratuitamente!</h5>
          <button type="button" data-toggle= "modal"
          data-target="#modal-cadastro" class="btn btn-cor-botao mb-4 mt-4">CADASTRE-SE</button>
        </div>
      </div>
    </div>
  </div>
  <!-- FIM - Texto e Imagem Chamativo -->

  <!-- Cards com produtos -->
  <div class="row cor-background-depoimentos mb-4" id="depoimentos">

    <div class="row container-fluid d-flex justify-content-center">
         <section class="col-md-12">
           <h1 class="text-center pt-1 pb-1">Depoimentos</h1>
         </section>
      <article class="card borda-cor-especial card-largura p-0 m-4 col-12 col-md-4 shadow">
        <div class="card-body">
          <p class="card-text">Mussum Ipsum, cacilds vidis litro abertis. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. Per aumento de cachacis, eu reclamis. Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio. Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl.</p>
        </div>
      </article>

      <!--CARD 2  -->
      <article class="card borda-cor-especial card-largura p-0 m-4 col-12 col-md-4 shadow">
        <div class="card-body">
          <p class="card-text">Mussum Ipsum, cacilds vidis litro abertis. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. Per aumento de cachacis, eu reclamis. Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio. Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl.</p>
        </div>
      </article>

      <!--CARD 3  -->
      <article class="card borda-cor-especial card-largura p-0 m-4 col-12 col-md-4 shadow">
        <div class="card-body">
          <p class="card-text">Mussum Ipsum, cacilds vidis litro abertis. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. Per aumento de cachacis, eu reclamis. Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio. Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl.</p>
        </div>
      </article>
    </div>
    </div>

    <section class="col-md-12">
      <h2 class="text-center fonte-titulo texto-cor-especial">Parceiros</h2>
    </section>

    <section class="parceiros-ong d-flex align-items-center justify-content-between">
      <div class="container">
        <ul class="parceiros-list d-flex align-items-center justify-content-around nav-item">

          <li class="nav-item">
            <a class="parceiros-list-link-evergreen" href="#">
              <img src="https://i.imgur.com/hVnPKgu.png" widht="150px" height="150px" alt="Logo evergreen">
            </a>
          </li>

          <li class="nav-item">
            <a class="parceiros-list-link-sol" href="#">
              <img src="https://i.imgur.com/unAvIMG.png" widht="80px" height="80px" alt="Logo sol">
            </a>
          </li>

          <li class="nav-item">
            <a class="parceiros-list-link-farms" href="#">
              <img src="https://i.imgur.com/8FkGMzP.png" widht="100px" height="100px" alt=" Logo Farms">
            </a>
          </li>
        </ul>

        <!-- modal Cadastro -->

<div
class="modal fade"
id="modal-cadastro"
tabindex="-1"
role="dialog"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog" role="document">
  <div class="modal-content justify-content-center">
    <div class="modal-header justify-content-center">
      <p class="text-center" id="exampleModalLabel">Cadastro</p>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Fechar"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <form>
        <div class="form-group">
          <label for="recipient-name" class="col-form-label"
            >Nome completo</label>
          <input [(ngModel)]='user.nome_completo' type="text" class="form-control" id="recipient-name" />
        </div>

        <div class="form-group">
          <label for="recipient-name" class="col-form-label">E-mail</label>
          <input [(ngModel)]='user.email' type="text" class="form-control" id="recipient-name" />
        </div>

        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Senha</label>
          <input (input)='confirmarSenha($event)' type="password" class="form-control" id="recipient-name" />
        </div>

        <div class="form-group">
          <label for="recipient-name" class="col-form-label"
            >Confirmar Senha</label
          >
          <input [(ngModel)]='user.senha' type="password" class="form-control" id="recipient-name">
        </div>

        <div class="form-group">
          <label for="tipo">Tipo de Usuário:</label>
          <select class="form-control" name="tipo" id="tipo" (change)='tipoUser($event)'>
            <option>Selecione um tipo de usuário:</option>
            <option value="normal">ONG</option>
            <option value="adm">Apoiador</option>
          </select>
        </div>

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-danger mr-4">Cancelar</button>
            <button type="submit" class="btn btn-success "(click)='cadastrar()'>Cadastrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>



